#PYTHON_VERSION = "{{ PYTHON_VERSION }}"
UPLOAD_DIR = "{{ UPLOAD_DIR }}"
BUNDLES_UPLOAD_DIR = "{{ BUNDLES_UPLOAD_DIR }}"
RAWPLANS_UPLOAD_DIR = "{{ RAWPLANS_UPLOAD_DIR }}"
MEASURES_UPLOAD_DIR = "{{ MEASURES_UPLOAD_DIR }}"
PLANS_UPLOAD_DIR = "{{ PLANS_UPLOAD_DIR }}"
