{% extends "base.html" %}

{% block title %}bundle: {{ bundle_data.plan_bundle_name }}{% endblock %}
{% block add_head %}
{% endblock %}
{% block container %}
    <div class="row"></div>
    <div class="row">
        <div class="col-lg-6">
            details:
        <ul class="list-group">
        <li class="list-group-item">Plan filename: {{ bundle_data.building_plan_filename }}</li>
        <li class="list-group-item">plan bundle name: {{ bundle_data.plan_bundle_name }}</li>
        </ul>
        </div>
        <div class="col-lg-6">
        measures:
        <div class="list-group">
            {% for measure in bundle_data.measures_per_plan_paths %}
             <a  href="{{ url_for('measures',filename=measure) }}" class="list-group-item">    {{ measure }}</a>

            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}